<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @project.User.profile.name %></h1>
<p>
  You have a fund request by <%= @user.profile.name %>.<br>
</p>
<p>
  For your Project <%= @project.name %>
</p>
<p>Have a great day!</p>
</body>
</html>